<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

</head>
<body>
    <h1 style="text-align: center; font-size: 25px; margin-top: 10%">ADD STUDENT NEW RECORDS PAGE</h1>
    
    <form style="text-align: center; margin-top: 6%;" action='/add_student_button' method="POST">
        <div style="padding: 20px 0;">
            <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="name" placeholder="Enter name">
        </div>
        <div style="padding: 10px 0;">
            <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="usn" placeholder="Enter your USN">
        </div>
        <div style="padding: 20px 0;">
            <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="sem" placeholder="Enter your current semester">
        </div>
    
       
        <button style="margin-top: 30px;" type="submit" value="Submit">Submit</button>
    </form>
    <footer style="background-color: #212121; text-align: center; margin-top: 14%;">
        <p style="color: white; padding: 15px 0 ;">ISE | SOSC</p>
    </footer>
</body>
</html>