<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

</head>
<body>
    <h1>ADD STUDENT NEW RECORDS PAGE</h1>
    
    <form action='/add_student_button' method="POST">
        <label>Name: </label> <input type="text" name="name" placeholder="Enter name"><br>
        <label>USN: </label> <input type="text" name="usn" placeholder="Enter your USN"><br>
        <label>SEM: </label> <input type="text" name="sem" placeholder="Enter your current semester"><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>