<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>ADD TEACHERS NEW RECORDS PAGE</h1>

        <form action='/add_teacher_button' method="POST">
            <label>Name: </label> <input type="text" name="name" placeholder="Enter name"><br>
            <label>Employee number: </label> <input type="text" name="eno" placeholder="Enter your ENO"><br>
            <label>Subjects: </label> <input type="text" name="subject" placeholder="Enter your teaching subjects"><br>
            <input type="submit" value="Submit">
        </form>

    </body>
    
</html>