<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

    </head>
    <body>
        <h1 style="text-align: center; color: #212121; margin-top: 13%;">Student DB Demo</h1>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-top: 12%;">

            <button style="text-decoration: none;" onclick="window.location.href='/add_student'">Add student record</button>
            <button style="text-decoration: none;" onclick="window.location.href='/add_teacher'">Add teacher record</button>
            <button style="text-decoration: none;" onclick="window.location.href='/view_students'">View all Students</button>
            <button style="text-decoration: none;" onclick="window.location.href='/view_teachers'">View all Teachers</button>

            <!-- <a style="text-decoration: none;" href="/add_student">Click here to add student record</a> <br>
            <a style="text-decoration: none;" href="/add_teacher">Click here to add teacher record</a> <br>
            <a style="text-decoration: none;" href="/view_students">Click here to view all Students</a> <br>
            <a style="text-decoration: none;" href="/view_teachers">Click here to view all Teachers</a> <br> -->
        
        </div>
        <footer style="background-color: #212121; text-align: center; margin-top: 21%;">
            <p style="color: white; padding: 15px 0 ;">ISE | SOSC</p>
        </footer>
    </body>
</html>