<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

</head>
<body>
    <h1>Student DB Demo</h1>
    <a href="/add_student">Click here to add student record</a> <br>
    <a href="/add_teacher">Click here to add teacher record</a> <br>
    <a href="/view_students">Click here to view all Students</a> <br>
    <a href="/view_teachers">Click here to view all Teachers</a> <br>

</body>
</html>