{% extends "layout.html" %}

{% block body %}

    <h1 style="text-align: center; margin-top: 107px;">Teachers Details</h1>

    <div style="text-align: center; margin: 170px 40%;" >
        <table style="border: 1px solid black; text-align: left;border-collapse: collapse;">
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;">Name</th>
                <th style="border: 1px solid black;">Employee Number</th>
                <th style="border: 1px solid black;">Subjects</th>
                <th style="border: 1px solid black;">Action</th>
            </tr>
    
            {% for teacher in teachers %} 
                <form action="/delete_teacher/{{teacher[1]}}" method="POST">
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;">{{teacher[0]}}</td>
                        <td style="border: 1px solid black;">{{teacher[1]}}</td>
                        <td style="border: 1px solid black;">{{teacher[2]}}</td>
                        <td style="border: 1px solid black;"><input type="submit" value="DELETE"></td>
                    </tr>
                </form>
            {% endfor %}
    
        </table>
    </div>
    <footer style="background-color: #212121; text-align: center; margin-top: 25%;">
        <p style="color: white; padding: 15px 0 ;">ISE | SOSC</p>
    </footer>

{% endblock %}