{% extends "layout.html" %}

{% block body %}

    <h3>All teachers</h3>
    <table style="border: 1px solid black; text-align: left;border-collapse: collapse;">
        <tr style="border: 1px solid black;">
            <th style="border: 1px solid black;">Name</th>
            <th style="border: 1px solid black;">Employee Number</th>
            <th style="border: 1px solid black;">Subjects</th>
        </tr>

        {% for teacher in teachers %} 
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;">{{teacher[0]}}</td>
                <td style="border: 1px solid black;">{{teacher[1]}}</td>
                <td style="border: 1px solid black;">{{teacher[2]}}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}